.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.selection-button{
  padding-right: 50px;
    padding-left: 50px;
    border: 4px solid #002147;
    border-radius: 10px;
    background-color: transparent;
 
    font-family: 'Open-Sans', sans-serif;
    color: 279ccf;
    font-size: 18px;
    font-weight: 700;
    padding: 9px 15px;
    color: #002147;
    width: 275px;
    height:275px;
    
}

.selection-button:hover {
  display: inline-block;
  padding: 9px 15px;
  background-color: #002147;
  color: white;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;

}

.selection-button.selected {
  background-color: #002147;
  }

body {
  color: #002147
}

li {
  list-style-type: none;
}

input {
  height: 30px;
  width: 300px;
  font-size: 24px;
  margin-top: 20px;
  border-radius: 5px;
}

select {
 height: 30px;
 width: 130px;
 font-size: 18px;
  
}

.choose-button {
  display: flex;
  margin-right: 350px;
  margin-left: 350px;
  justify-content: space-evenly
}
